.radius-button {
  position: relative;

  padding: 0;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  border-radius: 22px;
  box-sizing: border-box;

  cursor: pointer;
}

.radius-button_size_tiny {
  width: 87px;
  height: 34px;
}

.radius-button_size_small {
  width: 99px;
  height: 44px;
}

.radius-button_size_medium {
  width: 196px;
  height: 34px;
}

.radius-button_size_large {
  width: 320px;
  height: 44px;
}

.radius-button:active {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.radius-button__text {
  position: relative;
  z-index: 2;
}

.radius-button__arrow {
  justify-self: center;
}