.booking-card {
  display: grid;
  gap: 20px;

  width: 380px;
  height: 512px;

  padding: 40px 30px 30px 30px;

  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.booking-card__header {
  display: flex;
  gap: 8px;

  align-items: baseline;
}

.booking-card__number::first-letter {
  font-size: 14px;
}

.booking-card__price-per-day {
  margin-left: auto;
}

.booking-card__check {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.booking-card__check-line {
  display: grid;
  grid-template-columns: 214px 20px 75px;
  gap: 5px;
}

.booking-card__check-line> :last-child {
  margin-left: auto;
}

.booking-card__check-info {
  display: inline-grid;
  place-items: center;
  width: 20px;
  height: 20px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;

  font-weight: bold;
}

.booking-card__check-info_hidden {
  visibility: hidden;
}

.booking-card__check-total {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin-top: 22px;
}

.booking-card__check-total::after {
  content: "";
  position: absolute;
  left: 60px;
  bottom: 3px;

  width: 182px;
  height: 1px;

  border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
}

.booking-card__calendar {
  display: none;
}