mixin radius-button_border-gradient(name, size)
  button(type="button" class="radius-button radius-button_border-gradient" class=(size ? size:"radius-button_size_small"))
    span(class="radius-button__text text text_size_small text_type_bold text_color_purple text_uppercase")= name
