body {
  margin: 0;
}

main {
  display: grid;
  place-items: center;

  height: 684px;
  
  background-image: url('./background-images/image.png');
  background-size: cover;
  background-position: center;
}