body {
  margin: 0;
}

.Room-details-page__room-images {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 480px;
}

.Room-details-page__image-box:nth-child(1) {
  grid-row: 1/3;
  background-image: url("background-images/image.png");
  background-size: cover;
}

.Room-details-page__image-box:nth-child(2) {
  background-image: url("background-images/image2.png");
}

.Room-details-page__image-box:nth-child(3) {
  background-image: url("background-images/image3.png");
}

.Room-details-page__main {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: flex-start;
  gap: 30px 70px;

  padding: 70px 140px;
}

.Room-details-page__booking-card {
  grid-column: 3;
  grid-row: 1/3;
}

.Room-details-page__comment-group {
  grid-column: 1/3;
}

.Room-details-page__cancel-info {
  display: grid;
  gap: 20px;
}

.Room-details-page__header {
  margin: 0;
}

.Room-details-page__paragraph {
  margin: 0;

  line-height: 1.71em;
}