//-
  let bulletList = {
    title: "Bullet List",
    items: [
      "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"
    ]
  };
mixin bullet-list__item(text)
  li(class="bullet-list__item")
    span.bullet-list__marker 
    span(class="bullet-list__text text text_type_regular text_size_medium text_dark-shade_75")= text

mixin bullet-list(bulletList)
  .bullet-list
    span(class="bullet-list__title text text_type_bold text_size_small text_dark-shade_100 text_uppercase")= bulletList.title

    ul(class="bullet-list__container")
      each bulletListItem in bulletList.items
        +bullet-list__item(bulletListItem)
