include ../comment/comment

mixin comment-group(commentsData, header)
  .comment-group
    h2(class="comment-group__header text text_type_bold text_size_large text_dark-shade_100")= header
    span(class="comment-group__number-of-comments text text_type_regular text_size_medium text_dark-shade_50")
    each commentData in commentsData
      .comment-group__comment
        +comment(commentData)