.text-form__input {
  width: 100%;

  padding: 0;
  border: none;
  outline: none;
}

.input-form__box_focused>.text-form__input {
  color: rgba(31, 32, 65, 0.5);
}

.text-form__arrow {
  padding: 0;
  border: none;

  cursor: pointer;
}