include ../../commonBlocks/text-form/text-form
include ../../commonBlocks/radio-button-group/radio-button-group
include ../../commonBlocks/toggle/toggle
include ../../commonBlocks/radius-button/_link/radius-button_link
include ../../commonBlocks/radius-button/_border-gradient/radius-button_border-gradient

.registration
  h1(class="registration__header registration__two-column text text_type_bold text_size_huge text_dark-shade_100")
    | Регистрация аккаунта

  .registration__block

    +text-form(
      {
        type: "text",
        name: "Name",
        placeholder: "Имя",
        title: "",
        isSubscription: false
      }
    )

    +text-form(
      {
        type: "text",
        name: "Surname",
        placeholder: "Фамилия",
        title: "",
        isSubscription: false
      }
    )

    .registration__radio-button-group
      +radio-button-group(
        {
          groupName: "gender",
          values: ["Мужчина", "Женщина"]
        }
      )

  .registration__block

    +text-form(
      {
        type: "text",
        name: "Birthday",
        placeholder: "ДД.ММ.ГГГГ",
        title: "дата рождения",
        isSubscription: false
      }
    )

  .registration__block

    +text-form(
      {
        type: "email",
        name: "Email",
        placeholder: "Email",
        title: "данные для входа в сервис",
        isSubscription: false
      }
    )

    +text-form(
      {
        type: "text",
        name: "Password",
        placeholder: "Пароль",
        title: "",
        isSubscription: false
      }
    )

    .registration__toggle
      +toggle("get-special-offers", "Получать спецпредложения", true)

  +radius-button_link("перейти к оплате")

  .registration__footer
    span(class="text text_type_regular text_size_medium text_dark-shade_100")
      | Уже есть аккаунт на Toxin

    +radius-button_border-gradient("Войти")
