.input-form {
  width: fit-content;
}

.input-form__title {
  margin-bottom: 5px;
}

.input-form__box {
  display: grid;
  grid-template-columns: auto;
  grid-auto-columns: 44px;
  grid-auto-flow: column;
  height: 44px;
  padding: 12px 15px 8px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
}

.input-form__box_size_s {
  width: 150px;
}

.input-form__box_size_m {
  width: 266px;
}

.input-form__box_size_l {
  width: 320px;
}

.input-form__box_focused {
  border-color: rgba(31, 32, 65, 0.5);
}

.input-form__box > :last-child {
  margin-top: -2px;
  justify-self: end;
}