mixin price-range
  .price-range
    span(class="price-range__title text text_type_bold text_size_small text_dark-shade_100 text_uppercase") Range slider

    .price-range__price-distance
      span(class="price-range__left-price text text_type_regular text_size_small text_dark-shade_50 text_uppercase") 5000₽ - 
      span(class="price-range__right-price text text_type_regular text_size_small text_dark-shade_50 text_uppercase") 10000₽

    .price-range__track 
      input(type="range" name="" min="0" max="150" value="50" class="price-range__input price-range__input-left")
      input(type="range" name="" min="0" max="150" value="100" class="price-range__input price-range__input-right")
      .price-range__range 

