.price-range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  gap: 17px;

  width: 266px;
}

.price-range__price-distance {
  margin-left: auto;
}

.price-range__track {
  position: relative;
  z-index: 1;
  grid-column: 1/-1;

  height: 6px;
  margin: 4px 0;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

.price-range__range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: -1px;
  bottom: 0;

  height: 6px;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}

.price-range__input {
  position: absolute;
  z-index: 3;
  left: -2px;
  right: 0;
  top: -1px;
  bottom: 0;

  width: calc(100% + 4px);
  height: 6px;
  margin: 0;

  background: transparent;
  pointer-events: none;
  appearance: none;
}

.price-range__input::-webkit-slider-thumb {
  position: relative;
  pointer-events: all;
  z-index: 100;
  appearance: none;

  width: 16px;
  height: 16px;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.price-range__input::-moz-range-thumb {
  position: relative;
  pointer-events: all;
  z-index: 100;
  appearance: none;

  width: 16px;
  height: 16px;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}