mixin radius-button_default(name)
  button(type="button" class="radius-button radius-button_size_small radius-button_link")
    span(class="radius-button__text text text_type_bold text_size_small text_color_white text_uppercase")= name