.footer-creative 
  img(class="footer__logo" src="./images/Logo.svg" alt="Logo")
  span(class="footer-creative__copyright text_type_regular text_size_medium text_dark-shade_75") 
    |Copyright © 2018 Toxin отель. Все права защищены.
  .footer-creative__icons
    span(class="font-awesome") &#61593;
    span(class="font-awesome") &#61570;
    span(class="font-awesome") &#61805;