include ../dropdown/dropdown

-
  let dateDropdowns = [{title: "прибытие", date: "ДД.ММ.ГГГГ"}, {title: "выезд", date: "ДД.ММ.ГГГГ"}];

mixin dateDropdown
  .date-dropdown
    each dateDropdown in dateDropdowns
      +dropdown(dateDropdown.title, dateDropdown.date, "input-form__box_size_s")

