include ../radius-button/_border-gradient/radius-button_border-gradient
include ../radius-button/_default/radius-button_default

header(class="header")
  img(src="./images/Logo.svg" alt="Logo" class="header__logo")

  nav(class="header__nav")
    a(class="header__link header__link_active text text_type_regular text_size_medium text_dark-shade_50") О нас
    .header__link-expand
      span(class="header__link text text_type_regular text_size_medium text_dark-shade_50") Услуги
      span(class="header__expand-more material-icons material-icons_size_m material-icons_dark-shade_50") expand_more
    a(class="header__link text text_type_regular text_size_medium text_dark-shade_50") Вакансии
    a(class="header__link text text_type_regular text_size_medium text_dark-shade_50") Новости
    .header__link-expand
      span(class="header__link text text_type_regular text_size_medium text_dark-shade_50") Соглашения
      span(class="header__expand-more material-icons material-icons_size_m material-icons_dark-shade_50") expand_more

  +radius-button_border-gradient("Войти", "radius-button_size_tiny")
  +radius-button_default("Зарегистрироваться", "radius-button_size_medium")
