.room-features {
  display: grid;
  gap: 20px;

  width: fit-content;
}

.room-features__header {
  margin: 0;
}

.room-features__item {
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  gap: 5px 10px;

  padding-right: 25px;
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.room-features__item:last-child {
  border-bottom: none;
}

.room-features__icon {
  grid-row: 1/3;
  place-self: center;
}