doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    include ../src/commonBlocks/text-form/text-form
    include ../src/commonBlocks/text-button/text-button
    include ../src/commonBlocks/dropdown/_type/dropdown_type_guests
    include ../src/commonBlocks/dropdown/_type/dropdown_type_room-comfort
    include ../src/commonBlocks/date-dropdown/date-dropdown
    include ../src/commonBlocks/checkbox-group/checkbox-group
    include ../src/commonBlocks/checkbox-group/_rich-checkbox/checkbox-group_rich-checkbox
    include ../src/commonBlocks/room-features/room-features
    include ../src/commonBlocks/radio-button-group/radio-button-group
    include ../src/commonBlocks/toggle/toggle
    include ../src/commonBlocks/like-button/like-button
    include ../src/commonBlocks/rate-button/rate-button
    include ../src/commonBlocks/comment/comment
    include ../src/commonBlocks/bullet-list/bullet-list
    include ../src/commonBlocks/price-range/price-range
    include ../src/commonBlocks/radius-button/_default/radius-button_default
    include ../src/commonBlocks/radius-button/_border-gradient/radius-button_border-gradient
    include ../src/commonBlocks/radius-button/_link/radius-button_link
    include ../src/commonBlocks/pagination/pagination
    include ../src/commonBlocks/calendar/calendar
    include ../src/templates/room-search/room-search

    style
      | h3 {margin-bottom: 16px;}

  body
    +text-form(
      {
        type: "text",
        name: "Email",
        placeholder: "Email",
        title: "Text Field",
        isSubscription: false
      }
    )

    +dropdownGuests

    +dropdownRoomComfort

    +dateDropdown

    +checkbox-group(
      {
        groupTitle: "expandable checkbox list",
        groupName: "HotelRules",
        checkboxValues: [
          "Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", 
          "Телевизор", "Шампунь"
        ],
        isExpandable: true
      }
    )

    +room-features(
      [
        {
          materialIcon: "insert_emoticon",
          title: "Комфорт",
          text: "Шумопоглащающие стены"
        },
        {
          materialIcon: "location_city",
          title: "Удобство",
          text: "Окно в каждой из спален"
        }
      ]
    )

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") Radio Buttons
    +radio-button-group(
      {
        groupName: "gender",
        values: ["Мужчина", "Женщина"]
      }
    )

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") Toggle
    +toggle("specialOffers", "Получать спецпредложения", true)

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") like button
    +like-button

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") rate button
    +rate-button("room-254", 4, true)
    +rate-button("room-255", 5, false)

    +rich-checkbox-group(
      {
        groupTitle: "Rich Checkbox Buttons",
        groupName: "Benefits",
        checkboxValues: {
          "Широкий коридор": "Ширина коридоров в номере не менее 91 см.",
          "Помощник для инвалидов": "На 1 этаже вас встретит специалист и проводит до номера."
        },
      }
    )

    +comment(
      {
        userPhotoUrl: "./images/comment.jpg",
        userName: "Мурад Сарафанов",
        uploadTime: "5 дней назад",
        commentText: `Великолепный матрас на кровати в основной спальне!
        А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. 
        Выкрикивал комплименты повару — никто не жаловался из соседей.`
      }
    )

    +bullet-list(
      {
        title: "Bullet List",
        items: [
          "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"
        ]
      }
    )

    +price-range

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") buttons 
    +radius-button_default("click me")
    +radius-button_border-gradient("click me")
    +radius-button_link("click")
    +text-button("click me")

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") pagination 
    +pagination

    +calendar

    +room-search

    include ../src/templates/registration/registration

    include ../src/templates/booking-card/booking-card

    include ../src/templates/sign-in/sign-in

    include ../src/templates/room-card/room-card

    include ../src/commonBlocks/header/header

    include ../src/commonBlocks/header/_sign-in/header_sign-in

    include ../src/commonBlocks/footer/footer

    include ../src/commonBlocks/footer-creative/footer-creative