doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    include ../commonBlocks/text-form/text-form
    include ../commonBlocks/dropdown/_type/dropdown_type_guests
    include ../commonBlocks/dropdown/_type/dropdown_type_room-comfort
    include ../commonBlocks/date-dropdown/date-dropdown
    include ../commonBlocks/checkbox/checkbox

  body
    -
      textForm = {
        type: "text",
        name: "Email",
        placeholder: "Email",
        title: "Text Field",
        isSubscription: true
      }
    +text-form(textForm)

    +dropdownGuests

    +dropdownRoomComfort

    +dateDropdown

    +checkboxGroup(checkboxGroup)
