doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    include ../commonBlocks/text-form/text-form
    include ../commonBlocks/dropdown/_type/dropdown_type_guests
    include ../commonBlocks/dropdown/_type/dropdown_type_room-comfort
    include ../commonBlocks/date-dropdown/date-dropdown
    include ../commonBlocks/checkbox/checkbox
    include ../commonBlocks/checkbox/_rich-checkbox/checkbox_rich-checkbox
    include ../commonBlocks/room-features/room-features
    include ../commonBlocks/radio-button-group/radio-button-group
    include ../commonBlocks/toggle/toggle
    include ../commonBlocks/like-button/like-button
    include ../commonBlocks/rate-button/rate-button
    include ../commonBlocks/comment/comment

    style
      | h3 {margin-bottom: 16px;}

  body
    -
      textForm = {
        type: "text",
        name: "Email",
        placeholder: "Email",
        title: "Text Field",
        isSubscription: true
      }
    +text-form(textForm)

    +dropdownGuests

    +dropdownRoomComfort

    +dateDropdown

    +checkboxGroup(checkboxGroup)

    +room-features(roomFeatures)

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") Radio Buttons
    +radioButtonGroup(radioButtonGroup)

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") Toggle
    +toggle("specialOffers", "Получать спецпредложения", true)

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") like button
    +like-button

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") rate button
    +rate-button("room-254", 4, true)
    +rate-button("room-255", 5, false)

    +rich-checkbox-group(richCheckboxGroup)

    +comment(commentData)