doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    include ../src/commonBlocks/text-form/text-form
    include ../src/commonBlocks/dropdown/_type/dropdown_type_guests
    include ../src/commonBlocks/dropdown/_type/dropdown_type_room-comfort
    include ../src/commonBlocks/date-dropdown/date-dropdown
    include ../src/commonBlocks/checkbox/checkbox
    include ../src/commonBlocks/checkbox/_rich-checkbox/checkbox_rich-checkbox
    include ../src/commonBlocks/room-features/room-features
    include ../src/commonBlocks/radio-button-group/radio-button-group
    include ../src/commonBlocks/toggle/toggle
    include ../src/commonBlocks/like-button/like-button
    include ../src/commonBlocks/rate-button/rate-button
    include ../src/commonBlocks/comment/comment
    include ../src/commonBlocks/bullet-list/bullet-list
    include ../src/commonBlocks/price-range/price-range
    include ../src/commonBlocks/radius-button/_default/radius-button_default
    include ../src/commonBlocks/radius-button/_border-gradient/radius-button_border-gradient
    include ../src/commonBlocks/radius-button/_link/radius-button_link
    include ../src/commonBlocks/pagination/pagination

    style
      | h3 {margin-bottom: 16px;}

  body
    -
      textForm = {
        type: "text",
        name: "Email",
        placeholder: "Email",
        title: "Text Field",
        isSubscription: true
      }
    +text-form(textForm)

    +dropdownGuests

    +dropdownRoomComfort

    +dateDropdown

    +checkboxGroup(checkboxGroup)

    +room-features(roomFeatures)

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") Radio Buttons
    +radioButtonGroup(radioButtonGroup)

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") Toggle
    +toggle("specialOffers", "Получать спецпредложения", true)

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") like button
    +like-button

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") rate button
    +rate-button("room-254", 4, true)
    +rate-button("room-255", 5, false)

    +rich-checkbox-group(richCheckboxGroup)

    +comment(commentData)

    +bulletList(bulletList)

    +price-range

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") buttons 
    +radius-button_default("click")
    +radius-button_border-gradient("click")
    +radius-button_link("click")

    h3(class="text text_type_bold text_size_small text_dark-shade_100 text_uppercase") pagination 
    +pagination