mixin radius-button_link(name)
  button(type="button" class="radius-button radius-button_size_large radius-button_link")
    span( class="radius-button__text text text_type_bold text_size_small text_color_white text_uppercase")= name
    span(class="radius-button__arrow material-icons material-icons_color_white material-icons_size_m")
      |arrow_forward

