.comment {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 12px 10px;
}

.comment__user-photo {
  width: 48px;
  height: 48px;

  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  border-radius: 50%;
}

.comment__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.comment__like {
  justify-self: center;
}

.comment__text {
  margin: 0;

  line-height: 1.715em;
}