mixin pagination
  .pagination
    a(class="pagination__link" href="#") 
      span(class="pagination__page pagination__current-page text text_type_bold text_size_small text_color_white") 1
    a(class="pagination__link" href="#")
      span(class="pagination__page text text_type_regular text_size_small text_dark-shade_50") 2
    a(class="pagination__link" href="#")
      span(class="pagination__page text text_type_regular text_size_small text_dark-shade_50") 3
    span(class="text text_type_regular text_size_small text_dark-shade_50") ...
    a(class="pagination__link" href="#")
      span(class="pagination__page text text_type_regular text_size_small text_dark-shade_50") 15
    a(class="pagination__link" href="#")
      span(class="pagination__arrow material-icons material-icons_size_m material-icons_color_white") arrow_forward
    span(class="pagination__description text text_type_regular text_size_medium text_dark-shade_75") 1 – 12 из 100+ вариантов аренды
    