include ../dropdown

mixin dropdownRoomComfort
  +dropdown("Удобства номера", "2 спальни, 2 кровати...", "input-form__box_size_m", "dropdown_type_room-comfort")
  
    div(class="dropdown__list")
      mixin dropdown__line(option, value)
        -
          let isDisabled = false
          if (value === "0") isDisabled = true

        div(class="dropdown__line")
          span(class="dropdown__option text text_type_bold text_size_small text_dark-shade_100 text_uppercase")= option
          button(name="value-decrease" class="dropdown__button text text_type_regular text_size_18 text_dark-shade_50", disabled=isDisabled)
            | -
          span(class="dropdown__value text text_type_bold text_size_small text_dark-shade_100")= value
          button(name="value-increase"
          class="dropdown__button text text_type_regular text_size_18 text_dark-shade_50")
            | +

      +dropdown__line("спальни", "2")
      +dropdown__line("кровати", "2")
      +dropdown__line("ванные комнаты", "0")
    